<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/ionic.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>


<div class="bar bar-header bar-stable">
  <h1 class="title">Mijn vrienden</h1>
</div>
<ion-content class="has-header">
  <div class="list">
       <div class="item">
           <b>Mijn lievelingsvak</b>
           <p>
               afasdf
           </p>
       </div>

        <div class="item">
            <b>Mijn hobby's</b>
            <p>

            </p>
        </div>


        <div class="item">
            <b>Later word ik</b>
            <p>

            </p>
        </div>

        <div class="card">
            <div class="item">
                <b>Foto's</b>
            </div>
            <img src="../img/running.jpg"/>
        </div>
  </div>      

</ion-content>


