<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/ionic.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

	<!-- title of page -->
	<div class="bar bar-header bar-stable">
	  <h1 class="title">Mijn vrienden</h1>
	</div>

	<!-- content of page -->
	<ion-content >
	  

	  	<!-- list of friends -->
		<div class="list">
		      <a class="item"  href="vrienden/1.html">Henk</a>  
		      <a class="item"  href="vrienden/2.html">Jan</a>  
		</div>    


	</ion-content>


</body>	


</html>